extends layout
block content
    div.m-5
        h1 #{title}    
        form(action="/users/update/" + user._id, method="post")
            .form-group 
                label(for="") Title
                input.form-control(type="text", name="title" value="" + user.title)
            .form-group 
                label(for="") Author
                input.form-control(type="text", name="author" value="" + user.author)
            .form-group 
                label(for="") body
                textarea.form-control(name="body", cols="10", rows="7" value="" + user.body)
            input.btn.btn-success(type="submit", value="submit")
        
